html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body * {
  display: flex;
  font-family: helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 8px;
}

#squares-number {
  width: 100px;
}

#drawbutton, #color {
  width: 72px;
  height: 32px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.sketchpad {
  height: 90vmin;
  width: 90vmin;
}

.column {
  flex: 1;
  flex-direction: column;
}

.row {
  flex: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: 99;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius: 4px;
  gap: 6px;
}

.hidden-modal { 
 display: none; 
}

.squares-popup {
  font-size: 18px;
  background: #f1f1f1;
  display: flex;
  width: 48px;
  align-items: center;
  justify-content: center;
}

.blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hidden-blur {
  display: none;
}
