html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body * {
  display: flex;
  font-family: helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  justify-content: center;
  gap: 12px;
  margin: 12px;
}

#squares-number {
  width: 80px;
}

.sketchpad {
  height: 90vmin;
  width: 90vmin;
}

.column {
  flex: 1;
  flex-direction: column;
}

.row {
  flex: 1;
}

div {
  border: 1px solid black;
  margin: -1px;
}
