html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body * {
  display: flex;
  font-family: helvetica, sans-serif;
}

h1, .buttons {
  justify-content: center;
}

.buttons {
  gap: 12px;
  margin-bottom: 12px;
}

.sketchpad {
  display: flex;
  height: 1080px;
  width: 1080px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.row {
  flex: 1;
}

div {
  outline: 1px solid black;
  margin-top: 1px;
  margin-left: 1px;
}
